@charset "UTF-8";
.button {
  background-color: transparent;
  display: inline-block;
  min-width: 160px;
  min-height: 40px;
  padding: 12px 20px;
  border: 1px solid #FF6C00;
  border-radius: 25px;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33px;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  cursor: pointer;
  color: #303030;
}

.page {
  background-color: var(--ptimary-bgc-color);
  color: var(--primary-text-color);
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  margin: 0;
}

/* rooles */
.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.link {
  color: inherit;
  text-decoration: none;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

.container {
  margin-left: auto;
  margin-right: auto;
  max-width: 480px;
  padding-left: 31px;
  padding-right: 31px;
  outline: 1px solid tomato;
}
@media screen and (min-width: 768px) {
  .container {
    padding-left: 39px;
    padding-right: 39px;
    max-width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    padding-left: 15px;
    padding-right: 15px;
    max-width: 1200px;
  }
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .section {
    padding-top: 120px;
    padding-bottom: 120px;
  }
}

/* cstyles Студія */
/* general */
.about__pre-title {
  display: flex;
  align-items: center;
  margin: 0;
  margin-bottom: 20px;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  text-transform: uppercase;
  color: #303030;
}

.about__pre-title::before {
  content: " ";
  width: 60px;
  height: 1px;
  margin-right: 20px;
  background-color: #303030;
}

.about__title {
  margin: 0;
  margin-bottom: 20px;
  font-family: "Raleway";
  font-weight: 700;
  font-size: 28px;
  line-height: 1.17;
  letter-spacing: 0.05em;
  color: #303030;
}

.about__text {
  margin: 0;
  margin-bottom: 20px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.85;
  letter-spacing: 0.02em;
  color: #555555;
}

.about__btn {
  margin-top: 20px;
}

.prices {
  background-color: #111319;
  text-align: center;
}

.prices__pre-title {
  display: flex;
  align-items: center;
  margin-top: 0;
  margin-bottom: 20px;
  font-weight: 600;
  font-size: 11px;
  line-height: 15px;
  text-transform: uppercase;
  color: rgba(157, 164, 189, 0.6);
}

.prices__pre-title::before {
  content: " ";
  width: 60px;
  height: 1px;
  margin-right: 20px;
  background-color: rgba(157, 164, 189, 0.6);
}

.prices__title {
  margin-top: 0;
  margin-bottom: 44px;
  font-family: "Raleway";
  font-weight: 700;
  font-size: 40px;
  line-height: 47px;
  letter-spacing: 0.05em;
  color: #FFFFFF;
}

.prices__list {
  padding: 30px;
  background: linear-gradient(180deg, #171A24 0%, rgba(23, 26, 36, 0.2) 100%);
}

.prices__item {
  display: flex;
  align-items: baseline;
  font-weight: 400;
  font-size: 14px;
  line-height: 1, 43;
  letter-spacing: 0.02em;
  color: #9DA4BD;
}

.prices__item::before {
  content: " ";
  flex-grow: 1;
  display: block;
  margin-left: 4px;
  margin-right: 4px;
  height: 1px;
  background-color: rgba(157, 164, 189, 0.12);
}

.prices__item:not(:last-child) {
  margin-bottom: 20px;
}

.prices__services {
  order: -1;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.43;
  letter-spacing: 0.02em;
  color: #9DA4BD;
}

.price__button {
  margin-top: 44px;
  color: #FFFFFF;
}

.school__pre-title {
  display: flex;
  align-items: center;
  margin: 0;
  margin-bottom: 20px;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  text-transform: uppercase;
  color: #303030;
}
.school__pre-title::before {
  content: " ";
  width: 60px;
  height: 1px;
  margin-right: 20px;
  background-color: #303030;
  text-align: center;
}

.school__title {
  margin: 0;
  margin-bottom: 20px;
  font-family: "Raleway";
  font-weight: 700;
  font-size: 42px;
  line-height: 1.16;
  letter-spacing: 0.05em;
  color: #303030;
}

.school__text {
  margin: 0;
  margin-bottom: 44px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: #555555;
}

.school__list {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  width: 418px;
}

.school__item {
  padding: 20px 36px;
  width: 194px;
  height: 133px;
  background-color: #F7F7F7;
}

.school__item:nth-child(2n) {
  margin-top: 30px;
  margin-left: 30px;
}

.school__primary-text {
  position: relative;
  margin: 0;
  font-weight: 700;
  font-size: 42px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.05em;
  color: #303030;
}
.school__primary-text::after {
  content: "+";
  position: absolute;
  top: 7px;
  right: 2px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.38;
  text-align: center;
  color: #FF6C00;
}

.school__secondary-text {
  margin: 0;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  text-align: center;
  color: #303030;
}/*# sourceMappingURL=main.css.map */