.footer{
    background-color: #191C26;
}

.booking{
    &__heading{
        font-family: 'Raleway';
            font-style: normal;
            font-weight: 700;
            font-size: 42px;
            line-height: 1.17;
            text-align: center;
            letter-spacing: 0.05em;
        
            color: #FFFFFF;
    }

    &__label{
        margin-bottom: 44px;
        &:focus{
            color: #FFFFFF;
            border: none;
                border-bottom: 1px solid #ffffff;

        }
        
        

    }
    &__title{
        font-weight: 600;
            font-size: 11px;
            line-height: 1.36;
        
            letter-spacing: 0.1em;
            text-transform: uppercase;
        
        color: rgba(157, 164, 189, 0.4);

    }
    &__form{
        display: flex;
        flex-wrap: wrap;
        // flex-direction: column;
        justify-content: center;

    }
    &__text{
        min-width: 418px;
        background-color: transparent;
        border: none;
        border-bottom:1px solid rgba(157, 164, 189, 0.4);
        color: rgba(157, 164, 189, 0.4);
        
        &:focus {
                color: #FFFFFF;
                border: none;
                border-bottom: 1px solid #ffffff;
            }


    }
    &__coment{
        resize: none;
        min-width: 418px;
        height: 76px;
        background-color: transparent;
        border: none;
        border-bottom: 1px solid rgba(157, 164, 189, 0.4);
        &:focus{
            border-bottom: #FFFFFF;
        }
    }
    &__button{
        color: #FFFFFF;
        padding-left: 38px ;
        padding-right: 38px ;
    }
}
