.work{
    background-color: #ffffff;
&__text {
        display: flex;
        align-items: center;
        margin-bottom: 71px;
        margin-top: 0;
        font-weight: 600;
        font-size: 11px;
        line-height: 1.36;


        text-transform: uppercase;

        color: #303030;

        &::before {
            content: " ";
            width: 60px;
            height: 1px;
            background-color: #303030;
            margin-right: 20px;
        }
    }
&__item{
    &:not(:last-child){
        margin-bottom: 30px;
    }
}
}

