.button {
    background-color: transparent;
    display: inline-block;
    min-width: 160px;
    min-height: 40px;
    padding: 12px 20px;
    
    border: 1px solid #FF6C00;
    border-radius: 25px;
    font-weight: 600;
    font-size: 12px;
    line-height: 1.33px;
    letter-spacing: 0.09em;
    text-transform: uppercase;
    cursor: pointer;

    color: #303030;
}